<div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">詳細ページだよ!</h1>
          <div class="profile-index-single">
            <h2 class="prifile-author">
              <%= profile.nickname %>
            </h2>
            <%= image_tag profile.image.url %>
        
            <p class="profile-text">
              <%= profile.introduction %>
              <%= profile.age %>
              <%= profile.price %>
            </p>
          </div>
        </div>
      </div>