<div class="profile-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">プロフィールを更新しよう!</h2>
        <%= form_for @profile do |f| %>
          <div class="form-group">
            <%= f.label :nickname %>
            <%= f.text_area :nickname, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image%>
          </div>
          
          <div class="form-group">
            <%= f.label :Sex, class: 'text-black' %><br />
            <%= f.label :man, class: 'text-black'  %>
            <%= f.radio_button :sex, :man %>
            <%= f.label :woman, class: 'text-black'  %>
            <%= f.radio_button :sex, :woman %>
          </div>
          
          <div class="form-group">
            <%= f.label :introduction %>
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
          
　　　　　<% if user_signed_in? %>
            <%= f.submit '更新', class: 'btn btn-black btn-block' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>