<div class="profile-index-wrapper">
  <div class="container">
    <% @profiles.each do |profile| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="profile-index-single">
            <h2 class="prifile-author">
              <%= profile.nickname %>
            </h2>
            <%= image_tag profile.image.url %>
　　　　　　<%= link_to 'レビューを表示', review_path(profile.id), method: :GET %>
　　　　
            <% if !current_user.following?(profile.user) and !profile.user.following?(current_user) %>
              <%= link_to '購入へ進む', profile_path(profile.user.id), method: :GET %>        
            <% end %>
        <% if content_for? :content %>
          <%= yield :content %>
        <% else %>
          <%= yield %>
        <% end %>
        
            <p class="profile-text">
              <%= profile.introduction %>
              <%= profile.age %>　　
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>